# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DATABASE=

# Azure Functions
FUNCTION_KEY=

# Google Drive (service account JSON string)
GoogleServiceAccount=

# Email notifications
SENDER_EMAIL_APP_PASSWORD=
